/* TOP HEADER */

.top-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0 50px;
	width: 100%;
	height: 50px;
	background-color: #373737;
}

.top-items-left,
.top-items-right,
.top-item-center {
	width: 100%;
	display: flex;
}

.top-items-left {
	justify-content: flex-start;
}

.top-items-right {
	justify-content: flex-end;
}

.top-item-center {
	justify-content: center;
}

.fab, 
.fas {
  	padding-right: 24px;
  	font-size: large;
}

#current-date {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	color: #fff;
}

/* BOTTOM HEADER */

.bottom-header {
	display: flex;
	justify-content: center;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	font-size: 3rem;
	text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}