/* HEADER.JSX */

.top-items-left,
.top-items-right,
.top-item-center {
	width: 100%;
	display: flex;
}

.top-items-left {
	justify-content: flex-start;
}

.top-items-right {
	justify-content: flex-end;
}

.top-item-center {
	justify-content: center;
}

#current-date {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	color: #fff;
}

/*******************************/

/* SOCIAL MEDIA.JSX */
.fab {
  	padding-right: 24px;
  	font-size: large;
}

/* HEADER.JSX */

.bottom-header {
	display: flex;
	justify-content: center;
	margin: 16px 0;
}

/* SEARCH BAR.JSX */

.search-container {
	display: flex;
	justify-content: space-between;
	margin-right: 24px;
}

input {
	border: none;
	background: none;
}