.card-container {
  width: 100%;
  margin: 40px 0;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 40px;
}

.card {
  background: white;
  text-decoration: none;
  color: #000;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 260px;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}
    
.card:hover {
  top: -10px;
  box-shadow: 0 6px 12px rgba(0,0,0,.5);

}
  
article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
h3 {
  font-weight: 800;
  font-size: 1em;
  margin-bottom: 20px;
  color: #000;
}

.description {
  flex: 1;
  line-height: 1.4;
  font-size: .8em;
  font-weight: normal;
  color: #444;
  margin-bottom: 20px;
}

.tags {
  flex-direction: row;
  flex-wrap: wrap;
}

.card-tag {
  position: relative;
  font-size: 12px;
  font-weight: bold;
  border: 1.5px solid #999;
  border-radius: 2px;
  padding: 3px 6px;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 0 1em 1em 0;
}

.fa-share-alt {
  margin-top: 10px;
  color: #999;
  display: flex;
  justify-content: flex-end;
  font-size: large;
  transition: color .3s ease;
}

.fa-share-alt:hover {
  color: #000;
  transition: color .3s ease;
}

.card-img {
  object-fit: cover;
  height: 180px;
  background-position: center center;
}

.read-more {
  text-align: center;
  position: relative;
  color: #999;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.fa-angle-double-up {
  font-size: xx-large;
}

/* LOAD MORE BUTTON */

.load-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.fa-angle-double-down {
  font-size: 4em;
}

/*******************************************/

/* ARTICLE */

.back-btn {
    background-color: #373737;
    width: 50px;
    height: 60px;
    position: fixed;
    top: 40%;
    left: 0;
  }
  
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .article-heading {
    width: 60%;
    text-align: center;
    margin: 15px;
    font-size: 2em;
  }
  
  .author-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: 15px;
  }
  
  .author-title {
    font-weight: 500;
    font-size: 14px;
    padding: 0 10px;
  }
  
  .title {
    color: #999;
  }
  
  .small-hr {
    border: 1px solid rgb(150, 150, 150);
    width: 100%;
    margin: 20px 0;
  }
  
  .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .article-img {
    display: flex;
    justify-content: center;
    width: 50%;
    height: auto;
    margin: 15px 0 30px;
    object-fit: contain;
  }
  
  .article-text { 
    width: 50%;
    font-size: 1em;
    margin: 10px 0;
  }