* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-color: #F3F3F3;
}

main { 
  margin: 0 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


/* TAGS BAR */
nav {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
}

hr {
  border: 1.5px solid #000;
}

button {
  border: none;
  background: none;
  color: #000;
}