* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 0 50px;
  font-family: 'Roboto', sans-serif;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* tillfälligt nedan*/
  padding-bottom: 60px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  font-size: 3rem;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);;
}

#current-date {
  text-align: center;
}

.header-right-container {
  text-align: right;
}

.header-left-container,
.header-right-container {
  width: 200px;
}

/*        */


/*.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/